* {
  margin: 0;
  padding: 0; }

.header {
  width: 100%; }
  .header__image {
    margin-left: auto;
    margin-right: auto; }

.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #db6c04; }

.navigation {
  display: flex; }
  .navigation__list {
    list-style-type: none;
    padding: 22px; }
  .navigation__link {
    display: block;
    position: relative;
    text-decoration: none;
    font-size: 20px;
    color: #000000;
    transition: 0.5s; }
  .navigation__link:hover {
    color: #ffffff;
    transform: scale(1.2); }

.container {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 70vh; }

.slider {
  position: absolute;
  top: 0;
  left: 0;
  width: 500%;
  height: 100%;
  float: left;
  animation: animate 30s linear infinite; }
  .slider__slide {
    position: relative;
    width: 20%;
    height: 100%;
    float: left; }
  .slider__caption {
    position: absolute;
    bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    width: 60%;
    padding: 30px;
    background: rgba(0, 0, 0, 0.5);
    box-sizing: border-box;
    transition: 0.5s; }
  .slider__title {
    text-align: center;
    margin: 0 0 20px;
    padding: 0;
    color: #ffffff;
    font-size: 28px;
    transition: 0.5s; }
  .slider__one {
    background: url("../images/slider__one.jpg");
    background-size: cover;
    background-position: center; }
  .slider__two {
    background: url("../images/slider__two.jpg");
    background-size: cover;
    background-position: center; }
  .slider__three {
    background: url("../images/slider__three.jpg");
    background-size: cover;
    background-position: center; }
  .slider__four {
    background: url("../images/slider__four.jpg");
    background-size: cover;
    background-position: center; }
@keyframes animate {
  0% {
    left: 0; }
  20% {
    left: 0; }
  25% {
    left: -100%; }
  45% {
    left: -100%; }
  50% {
    left: -200%; }
  70% {
    left: -200%; }
  75% {
    left: -300%; }
  95% {
    left: -300%; }
  100% {
    left: -400%; } }
  @media (max-width: 768px) {
    .slider .container {
      position: relative;
      overflow: hidden;
      width: 100%;
      height: 50vh; }
    .slider__caption {
      position: absolute;
      bottom: 20px;
      left: 20px;
      right: 20px;
      padding: 20px;
      width: 55%; }
    .slider__title {
      margin: 0 0 10px;
      font-size: 18px; } }

.backgroundcolor {
  background: #dddbd9; }

.skill {
  padding: 50px 0;
  display: flex;
  justify-content: space-around;
  width: 100%; }
  .skill__left {
    width: 40%; }
  .skill__right {
    width: 40%; }
  .skill__title {
    margin-left: 5px;
    font-size: 30px; }
  .skill__flex {
    display: flex; }
  .skill__icon {
    font-size: 50px;
    margin: auto 0 auto 20px;
    color: #db6c04; }
  .skill__para {
    width: 70%;
    text-align: justify;
    padding: 20px 0 20px 25px; }
  .skill__button {
    color: #ffffff;
    height: 35px;
    width: 15%;
    border-radius: 5px;
    font-size: 15px;
    border: none;
    background: #db6c04;
    outline: none;
    margin-left: 95px;
    cursor: pointer;
    transition: 0.5s; }
  .skill__button--onderhoud {
    color: #ffffff;
    height: 35px;
    width: 15%;
    border-radius: 5px;
    font-size: 15px;
    border: none;
    background: #db6c04;
    outline: none;
    margin-left: 101px; }
  .skill__button--beglazing {
    color: #ffffff;
    height: 35px;
    width: 15%;
    border-radius: 5px;
    font-size: 15px;
    border: none;
    background: #db6c04;
    outline: none;
    margin-left: 88px; }
  .skill__button--advies {
    color: #ffffff;
    height: 35px;
    width: 15%;
    border-radius: 5px;
    font-size: 15px;
    border: none;
    background: #db6c04;
    outline: none;
    margin-left: 94px; }
  .skill__button:hover {
    background: #ff7a00;
    transform: scale(1.1); }
  .skill__link {
    color: #ffffff; }

.section {
  width: 100%; }
  .section__image {
    position: absolute;
    background: linear-gradient(rgba(42, 42, 43, 0.8), rgba(42, 42, 43, 0.8)), url("../images/section__image.jpg");
    background-size: cover;
    background-position: center; }
  .section__center {
    padding: 55px 0;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 20; }
  .section__title {
    padding-bottom: 35px;
    color: #ffffff; }
  .section__para {
    padding-bottom: 35px;
    color: #ffffff;
    width: 40%; }

/*# sourceMappingURL=style.css.map */
