* {
  margin: 0;
  padding: 0; }

.header {
  background-color: #ffffff;
  width: 100%; }
  .header__image {
    margin-left: auto;
    margin-right: auto; }
    @media (max-width: 1023px) {
      .header__image {
        width: 45%; } }

.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #db6c04; }

.navigation {
  display: flex; }
  .navigation__list {
    list-style-type: none;
    padding: 22px; }
  .navigation__link {
    display: block;
    position: relative;
    text-decoration: none;
    font-size: 20px;
    color: #000000;
    transition: 0.5s; }
  .navigation__link:hover {
    color: #ffffff;
    transform: scale(1.2); }

a.activeMenuItem {
  color: #ffffff; }

.toggle-nav {
  display: none; }

/*----- Responsive -----*/
@media (max-width: 640px) {
  .nav ul.active {
    display: none; }

  .nav {
    position: relative;
    display: inline-block;
    z-index: 10;
    width: 100%; }

  .navigation {
    display: inline-block;
    width: 100%;
    position: absolute;
    top: 100%;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.15);
    border-radius: 3px;
    background: #303030; }

  .nav li {
    height: 100%;
    padding: 0;
    margin: 5px 0px 5px 0px;
    float: none;
    display: block; }

  .nav a {
    text-align: center;
    display: block;
    text-decoration: none; }

  .span__icon {
    cursor: pointer;
    font-size: 30px;
    color: #000000; }

  .toggle-nav {
    margin-right: 30px;
    width: 0; } }
.slider {
  position: relative;
  width: 100%;
  height: 600px; }
  @media (max-width: 640px) {
    .slider {
      height: 200px; } }
  @media (min-width: 641px) and (max-width: 1023px) {
    .slider {
      height: 400px; } }
  .slider__slide {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0; }
  .slider__title {
    color: #ffffff;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%); }
  .slider__een {
    background: linear-gradient(rgba(42, 42, 43, 0.5), rgba(42, 42, 43, 0.5)), url("../images/slider__one.jpg");
    background-size: cover;
    background-position: center; }
  .slider__twee {
    background: linear-gradient(rgba(42, 42, 43, 0.5), rgba(42, 42, 43, 0.5)), url("../images/slider__two.jpg");
    background-size: cover;
    background-position: center; }
  .slider__drie {
    background: linear-gradient(rgba(42, 42, 43, 0.5), rgba(42, 42, 43, 0.5)), url("../images/slider__three.jpg");
    background-size: cover;
    background-position: center; }

.information--color {
  background-color: #f7f7f7; }

hr {
  border: 0.4px solid #db6c04 !important; }

.information {
  max-width: 1000px;
  margin: 100px auto; }

.info__title {
  font-size: 30px;
  color: #db6c04;
  padding-top: 30px;
  font-weight: normal; }
.info__tekst {
  font-size: 20px;
  color: #000000;
  text-align: justify;
  padding: 20px 0; }

.different {
  max-width: 1000px;
  margin: 100px auto; }
  .different__title {
    font-size: 30px;
    padding-bottom: 30px;
    color: #db6c04;
    font-weight: normal; }

.spacing {
  padding-top: 60px; }

.all {
  display: flex; }
  .all__ref {
    text-decoration: none; }
  .all__first {
    border-radius: 5px;
    background: url("../images/all__one.jpg");
    background-size: cover;
    background-position: center;
    height: 400px;
    min-width: 310px; }
  .all__second {
    border-radius: 5px;
    background: url("../images/all__two.jpg");
    background-size: cover;
    background-position: center;
    margin: 0 auto;
    height: 400px;
    min-width: 310px; }
  .all__third {
    border-radius: 5px;
    background: url("../images/all__three.png");
    background-size: cover;
    background-position: center;
    height: 400px;
    min-width: 310px; }
  .all__fourth {
    border-radius: 5px;
    background: url("../images/all__four.jpg");
    background-size: cover;
    background-position: center;
    height: 400px;
    min-width: 310px; }
  .all__fifth {
    border-radius: 5px;
    background: url("../images/all__five.jpg");
    background-size: cover;
    background-position: center;
    margin: 0 auto;
    height: 400px;
    min-width: 310px; }
  .all__six {
    border-radius: 5px;
    background: url("../images/all__six.jpg");
    background-size: cover;
    background-position: center;
    height: 400px;
    min-width: 310px; }
  .all__title {
    border-radius: 5px;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    margin-top: 350.2px;
    background: linear-gradient(rgba(0, 0, 0, 0.73), rgba(0, 0, 0, 0.73)); }
  .all__title:hover {
    background: linear-gradient(black, black); }
  .all__title--stuc {
    width: 311px;
    border-radius: 5px;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    margin-top: 350.2px;
    background: linear-gradient(rgba(255, 123, 0, 0.78), rgba(255, 123, 0, 0.78)); }
  .all__title--stuc:hover {
    background: linear-gradient(#ff7b00, #ff7b00);
    width: 311px; }
  .all__title--behang {
    border-radius: 5px;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    margin-top: 350.2px;
    background: linear-gradient(rgba(112, 112, 112, 0.73), rgba(112, 112, 112, 0.73)); }
  .all__title--behang:hover {
    background: linear-gradient(#707070, #707070); }

.section__image {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../images/section__image.jpg");
  background-size: cover;
  background-position: center;
  margin-bottom: 100px; }

.section {
  padding: 50px 0;
  margin: 0 auto;
  max-width: 1000px; }
  .section__title {
    color: #db6c04;
    font-size: 30px; }
  .section__tekst {
    padding: 25px 0;
    color: #ffffff;
    text-align: justify; }
  .section__button {
    width: 150px;
    border-radius: 5px;
    height: 40px;
    background-color: #db6c04;
    outline: none;
    border: none;
    color: #ffffff;
    font-weight: bold;
    transition: 0.5s;
    cursor: pointer; }
  .section__button:hover {
    color: #000000;
    cursor: pointer;
    transform: scale(1.1); }

.footer {
  background-color: #db6c04;
  color: #000000; }
  .footer__center {
    padding: 50px 0;
    max-width: 1000px;
    margin: 100px auto; }
  .footer__flex {
    display: flex;
    width: 100%; }
  .footer__title {
    text-align: left; }
  .footer__test {
    text-align: left; }
  @media (max-width: 640px) {
    .footer {
      margin-top: 200px; } }

/*# sourceMappingURL=style.css.map */
