* {
  margin: 0;
  padding: 0; }

.header {
  background-color: #ffffff;
  width: 100%; }
  .header__image {
    margin-left: auto;
    margin-right: auto; }
    @media (max-width: 1023px) {
      .header__image {
        width: 45%; } }

.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #db6c04; }

.navigation {
  display: flex; }
  .navigation__list {
    list-style-type: none;
    padding: 22px; }
  .navigation__link {
    display: block;
    position: relative;
    text-decoration: none;
    font-size: 20px;
    color: #000000;
    transition: 0.5s; }
  .navigation__link:hover {
    color: #ffffff;
    transform: scale(1.2); }

.slider {
  position: relative;
  width: 100%;
  height: 600px; }
  @media (max-width: 640px) {
    .slider {
      height: 200px; } }
  @media (min-width: 641px) and (max-width: 1023px) {
    .slider {
      height: 400px; } }
  .slider__slide {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0; }
  .slider__title {
    color: #ffffff;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%); }
  .slider__een {
    background: linear-gradient(rgba(42, 42, 43, 0.5), rgba(42, 42, 43, 0.5)), url("../images/slider__one.jpg");
    background-size: cover;
    background-position: center; }
  .slider__twee {
    background: linear-gradient(rgba(42, 42, 43, 0.5), rgba(42, 42, 43, 0.5)), url("../images/slider__two.jpg");
    background-size: cover;
    background-position: center; }
  .slider__drie {
    background: linear-gradient(rgba(42, 42, 43, 0.5), rgba(42, 42, 43, 0.5)), url("../images/slider__three.jpg");
    background-size: cover;
    background-position: center; }

.drome {
  margin: auto 0;
  border: 0.5px solid #db6c04;
  height: 150px; }

.backgroundcolor {
  background-color: #e2e2e2; }

.skill {
  margin: 0px auto;
  display: flex;
  max-width: 1000px;
  padding: 110px 0; }
  .skill__title {
    margin-left: 5px;
    font-size: 30px; }
  .skill__flex {
    display: flex; }
  .skill__icon {
    font-size: 50px;
    color: #db6c04; }
  .skill__para {
    width: 70%;
    text-align: justify;
    padding: 20px 0 20px 25px; }
  .skill__button {
    color: #ffffff;
    height: 35px;
    width: 15%;
    border-radius: 5px;
    font-size: 15px;
    border: none;
    background: #db6c04;
    outline: none;
    margin-left: 95px;
    cursor: pointer;
    transition: 0.5s; }
  .skill__button--onderhoud {
    color: #ffffff;
    height: 35px;
    width: 15%;
    border-radius: 5px;
    font-size: 15px;
    border: none;
    background: #db6c04;
    outline: none;
    margin-left: 101px; }
  .skill__button--beglazing {
    color: #ffffff;
    height: 35px;
    width: 15%;
    border-radius: 5px;
    font-size: 15px;
    border: none;
    background: #db6c04;
    outline: none;
    margin-left: 88px; }
  .skill__button--advies {
    color: #ffffff;
    height: 35px;
    width: 15%;
    border-radius: 5px;
    font-size: 15px;
    border: none;
    background: #db6c04;
    outline: none;
    margin-left: 94px; }
  .skill__button:hover {
    background: #ff7a00;
    transform: scale(1.1); }
  .skill__link {
    color: #ffffff; }

.section {
  width: 100%; }
  .section__image {
    position: absolute;
    background: linear-gradient(rgba(42, 42, 43, 0.8), rgba(42, 42, 43, 0.8)), url("../images/section__image.jpg");
    background-size: cover;
    background-position: center; }
  .section__center {
    padding: 55px 0;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 20; }
  .section__title {
    padding-bottom: 35px;
    color: #ffffff; }
  .section__para {
    padding-bottom: 35px;
    color: #ffffff;
    width: 40%; }

.test {
  color: #db6c04;
  font-size: 50px; }

#wrapper {
  display: flex;
  max-width: 1000px;
  margin: 10px auto; }

#first {
  padding-top: 50px;
  height: 200px;
  width: 500px; }

#second {
  padding-top: 50px;
  height: 200px;
  width: 500px; }

.drolletje {
  text-align: justify;
  margin: 0 auto;
  width: 250px; }

.droll {
  color: #db6c04;
  margin: 0 auto;
  width: 250px;
  font-size: 33px; }

.skill__droll {
  padding: 30px 0;
  margin: 0 auto;
  display: block;
  width: 250px;
  font-size: 50px;
  color: #db6c04; }

/*----- Toggle Button -----*/
.toggle-nav {
  display: none; }

/*----- Menu -----*/
.menu {
  width: 100%;
  background: #303030; }

.menu ul {
  display: inline-block; }

.menu li {
  margin: 0px 50px 0px 0px;
  float: left;
  list-style: none;
  font-size: 17px; }

.menu li:last-child {
  margin-right: 0px; }

.menu a {
  text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.5);
  color: #777;
  transition: color linear 0.15s; }

.menu a:hover, .menu .current-item a {
  text-decoration: none;
  color: white; }

/*----- Responsive -----*/
@media screen and (max-width: 1150px) {
  .wrap {
    width: 90%; } }
@media screen and (max-width: 970px) {
  .search-form input {
    width: 120px; } }
@media (max-width: 640px) {
  .menu {
    position: relative;
    display: inline-block;
    z-index: 10;
    width: 100%; }

  .menu ul.active {
    display: none; }

  .menu ul {
    width: 100%;
    position: absolute;
    top: 100%;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.15);
    border-radius: 3px;
    background: #303030; }

  .menu li {
    margin: 5px 0px 5px 0px;
    float: none;
    display: block; }

  .menu a {
    text-align: center;
    display: block; }

  .span__icon {
    font-size: 30px;
    color: #000000; }

  .toggle-nav {
    background-color: #db6c04; } }

/*# sourceMappingURL=style.css.map */
